// Include parts of Bootstrap
// Compile base.css with cmd or git bash command: (while in .../plugins/folder directory)
// sass.bat css/base.scss css/base.css

// Required
@import "C:/UniServerZ/www/redcap/plugins/nitin/bootstrap/scss/_functions.scss";
@import "C:/UniServerZ/www/redcap/plugins/nitin/bootstrap/scss/_variables.scss";
@import "C:/UniServerZ/www/redcap/plugins/nitin/bootstrap/scss/_mixins.scss";

// // Optional
@import "C:/UniServerZ/www/redcap/plugins/nitin/bootstrap/scss/_reboot.scss";
@import "C:/UniServerZ/www/redcap/plugins/nitin/bootstrap/scss/_type.scss";
@import "C:/UniServerZ/www/redcap/plugins/nitin/bootstrap/scss/_images.scss";
@import "C:/UniServerZ/www/redcap/plugins/nitin/bootstrap/scss/_code.scss";
@import "C:/UniServerZ/www/redcap/plugins/nitin/bootstrap/scss/_grid.scss";

.header1 {
	background-color: #006;
	color: #fff;
	padding: 16px;
}

nav {
	margin-top: 12px;
}

nav > div {
	margin: 12px;
	background-color: #006;
	color: #fff;
	padding: 16px;
}

.content {
	margin-top: 20px;
}

.header2 {
	background-color: #006;
	color: #fff;
}