@import "C:/UniServerZ/www/redcap/plugins/nitin/css/_normalize.scss";

// variables
$gradDarkBlue: #00426d;
$gradLightBlue: #0077be;
$divDarkBlue: #003a59;
$divLightBlue: #0073b1;
$divHoverBlue: #0095e6;
$divBorderBlue: #005381;
$rowDarkBlue: #cbd5e4;
$rowLightBlue: #e7ebf2;
$divRed: #7d3c4a;
$divBorderRed: #5a2934;
$textRed: #ff0000;

#header {
	top: 0px;
	position: fixed;
	width: 100%;
	background-image: linear-gradient($gradLightBlue, $gradDarkBlue);
	padding: 16px;
	z-index: 1030;
}

nav {
	position: fixed;
	margin-top: 175px;
	width: 334px;
	div {
		background-color: $divLightBlue;
		border: 1.5px solid $divBorderBlue;
		
		color: #fff;
		font-size: 20px;
		font-weight: 550;
		text-align: center;
		
		margin: 12px;
		padding: 8px 12px;
	}
	div:hover {
		background-color: $divHoverBlue;
	}
	div.selected {
		background-color: $divDarkBlue;
	}
}

#content {
	margin-top: 175px;
	width: calc(100% - 350px);
	float: right;
}